<!DOCTYPE html>
<html>
<head>
    <title>Battle Simulator</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="people">
    <script type="text/template" id="personTemplate">
        <% _.each(persons, function(person){%>
        <%= person.get('name')%><%= person.get('surname')%><%= person.get('age')%><%= person.get('rank')%><%= person.get('experience')%>

        <% }); %>
    </script>
</div>
<div id="battle">

</div>
<div id="winner">
</div>

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/init.js"></script>
<script src="js/models/Person.js"></script>
<script src="js/collections/Persons.js"></script>
<script src="js/views/PersonView.js"></script>
<script src="js/views/BattleView.js"></script>
<script src="js/views/WinnerView.js"></script>
<script src="js/main.js"></script>


</body>
</html>